/* normalliz.css */
*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color:#4444
}
li
{
    list-style-type: none;
}
a
{
    text-decoration:none ;
}
.fl
{
    float: left;
}
.fr
{
    float: right;
}
#w960
{
    width:960px;
    margin: auto;
    background-color: white;
}