*
{
    margin:0;
    padding: 0;
}
li
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: #fff;
}
body
{
    background-color:#0a0a0a;
}
em,i
{
    text-decoration: none;
    font-style: normal;
}
.fl
{
    float: left;
}
.fr
{
    float: right;
}
b,strong
{
    font-weight: normal;
}


#header
{
    width:1600px;
    height: 900px;
    margin: 0 auto;
    background-color:#0a0a0a;
}

#header .nav
{
    width: 100%;
    height:50px;
    background-color:transparent;
    border: 2px solid red;
}
#header .nav .logo_fl
{
    width:100%;
    height: 50px;
    float: left;
}
#header .nav .logo_fl img
{
    width:150px;
    height:50px;
    background-size:cover;
    background:no-repeat;
}
#header .nav .logo_fl a
{
    color: white;
}