/*  iqiyi.css */

*
{
	margin:0;
	padding:0;
}
li
    /* 去掉列表样式*/
{
	list-style:none;
}
a
    /*去掉文本修饰*/
{
	color:#fff;
	text-decoration:none;
}
i,em
{
	font-style:normal;
}
b,strong
{
	font-weight:normal;
}
.fl
{
	float:left;
}
.fr
{
	float:right;
}
/* 为了清除浮动对当前元素的父元素造成的影响 */
.clear
{
	display:block;
	height:0;
	clear:both;
}
/* 去掉下列俩元素的外轮廓 */
input,button
{
	outline:none;
}
.w1636
{
	width:1636px;
	margin:0 auto;
}
body
{
	/*background:linear-gradient(to top,black 0,transparent 20%,transparent 80%,black 20%);*/
	/*height:5000px;*/
}

/* --------------主体页面修饰---------------- */

body
{
	background-color: #233;
	font-size: 1.2rem;
	/*相对于html设置的基础像素值为基础值，1rem = 10px */
	color: #ffffff;
}
html
{
	font-size:10px;
	/*为网页设置像素值*/
}

#header_box
{
	position: relative;
}
#header
{
	background-color:transparent;
	height:64px;
	position: absolute;
	top: 0;
	left:0;
	right: 0;
	z-index: 200;
}
#header_box #header .header-fl a
{
    line-height:64px;
    font-weight:bold;
    font-size:20px;
}


#header_box #header .header-fl img
{
	width:64px;
	height:64px;
	background-size: cover;
	/* 垂直居中 */
	vertical-align: middle;
}
/*--------banner大图-------*/
#banner_box
{
	position: relative;
	/* 用来给swiper做定位*/
}

#banner_box ul
{
	position: relative;
	height: 902px;
	/*用来给ul> li做定位*/
}
#banner_box ul li
{
	/* 找父元素 */
	position: absolute;
	width: 100%;
	display: none;
	left:0;
	top:0;
}
#banner_box ul li img
{
	height:900px;
	width: 100%;
	background-size: cover;
}
#banner_box ul li.show
{
	display: block;
}
#banner_box ul li a
 {
	 display: block;
	 position: relative;
	 /*用来给 a 的伪类定位*/
 }
#banner_box ul li a:before
{
	/*为banner区域的大图，设置一个渐变的遮罩，上下为黑，中间透明。*/
	content:"";
	display: block;
	width:100%;
	height:100%;
	/* 找父元素a */
	position: absolute;
	left: 0;
	top: 0;
	background-image: -webkit-linear-gradient(top,#345 0,transparent 20%,transparent 80%,#211 100%);
}
#banner_box ul li a:after
{
	/*
		在伪类中是可以使用url插入图片的。
		content:url('A.jpg');
	*/
	content:'';
	display: block;
	height:150px;
	width:300px;
	position: absolute;
	background-color:blue;
	left:3%;
	bottom:15%;
	background:url("C.jpg") no-repeat ;
	background-size: cover;
	/*调整背景图片大小为盒子的大小*/
	border: 2px solid blue;
}

#banner_box ul li:nth-child(2) a:after
{
	background-image: url("B.jpg");
}
#banner_box ul li:nth-child(3) a:after
{
	background-image: url("C.jpg");
}
#banner_box ul li:nth-child(4) a:after
{
	background-image: url("D.jpg");
}

/*--------banner-轮播图----------*/
#banner_box .swiper
{
	position: absolute;
	top:10%;
	right:5%;
	width: 218px;
	padding:0 36px;
	border:1px solid red;
	background-color:transparent;
}
#banner_box .swiper .swiper_box
{
	position: relative;
}
#banner_box div .swiper img.vip-logo
{
	position: absolute;
	left: 50%;
	top: -70px;
	/*	通过位移来让图片左移50%的宽度。
		定位后的图片的位置正好和父元素的正中间对齐，所以需要调整图片的位置
	*/
	-webkit-transform: translateX(-50%);
}
#banner_box div ol
{
	height:400px;
}
#banner_box div ol li img
{
	width:380px;
	border: 1px solid #0000ff;
}
#banner_box .swiper .swiper_box div
{
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
	font-size:26px;
	background-color:rgba(255,255,255,.5);
	position:absolute;
	top:50%;
	cursor: pointer;
	color:black;
	border-radius:15px;
	-webkit-transform: translateY(-50%);
}
#banner_box div .swiper .swiper_box div.left
{
	left:-36px;
}
#banner_box div .swiper .swiper_box div.right
{
	right:-36px;
}
#banner_box div .swiper .swiper_box div:hover
{
	background-color: rgba(255,255,255,1);
}
#banner_box div ol
{
	height:240px;
	position: relative;
}
#banner_box div ol li
{
	width:80%;
	/*调整轮播图图片的位置前后叠加的顺序关系*/
	position: absolute;
	/*z-index: revert;*/
}
#banner_box div ol li:nth-child(1)
{
	z-index: 100;
	left:0;
	opacity:1;
}
#banner_box div ol li:nth-child(2)
{
	z-index:99;
	left: 30px;
	-webkit-transform:scale(.6,.6);
	opacity:0.66;
	filter:opacity(66);
	/*
		 scale(x,y) 宽高等比缩放
	  	 opcality 透明度  0透明  1不透明 (IE无法识别该属性)
	  	 filter  中透明度的值 为0~100   0为透明   100 不透明
	*/
}
#banner_box div ol li:nth-child(3)
{
	z-index:98 ;
	left: 60px;
	-webkit-transform:scale(.6);
	opacity:0.33;
}
#banner_box div ol li:nth-child(4)
{
	z-index:97 ;
	left: 90px;
	-webkit-transform:scale(.4);
	opacity:0;
}
#banner_box div ol li img
{
	width:100%;
	height: 240px;
}
/*--------------nav-box-----------------*/
#nav-box
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 68px;
}
#nav-box ul
{
    width:100%;
    height:30px;
}
#nav-box .nav .item
{
	margin: 0px 23px;
	float:left;
	text-align: center;
	/*position: relative;*/
}
#nav-box .nav-me
{
	height:auto;
}
#nav-box .nav-me .nav-me-fl
{
	float: left;
}
#nav-box ul .nav li.item div.nav-text>a
{
	 display: block;
	 position: relative;
	 font-size: 18px;
}
#nav-box ul .nav li.item div.nav-text>a span:first-child
{
	 display: block;
	 color:transparent;
	 -webkit-background-clip:text ;
	background-image:-webkit-linear-gradient(top,rgba(255,255,255,0.4),transparent 80%);
}
#nav-box ul .nav li.item div.nav-text>a span:last-child
{
	position: absolute;
	left: 50%;
	top: -8px;
	font-weight: bold;
	-webkit-transform: translateX(-50%);
	white-space: nowrap;
}

/*注意 ： 在css中做鼠标移入效果的时候，移入当前元素，只能让其子元素
 		 或者兄弟元素发生对应的事件*/
/* 控制俩个a 变颜色，谁移入 谁变色*/
#nav-box ul .nav li.item div.nav-text div:last-child a:hover
{
	color:green;
}
/* a上面的小三角 */
#nav-box ul .nav li.item div.nav-text>a span:last-child:after
{
	content:'';
	display:block;
	width: 0;
	line-height: 0;
	border: 10px solid transparent;
	border-top-color: rgba(0,0,0,0.7);
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	top: -8px;
	opacity:0;
	-webkit-transition:opcaity 0.5s;
}

/*---------------nav区域影藏的元素-------------------------------*/
#nav-box ul .nav li.item div.nav-text div .nav-shows
{
	width: 300px;
	height: 150px;
	position: absolute;
	background-color:rgba(0,0,0,0.7);
	left: 50%;
	margin-left: -30px;
	top: -165px;
	/*display: none;*/
	-webkit-transform: scale(0);
	/* 调整transform的基准点 ，x点，y点，0点，默认的原点(0,0)在形状的中间*/
	-webkit-transform-origin: left bottom;
	-webkit-transition: trnsform 0.5s;
}
/*------------------nav 鼠标悬停效果----------------------------*/
#nav-box ul .nav li:hover div:first-child
{
	/* transition 过渡 从一种状态到另外一种状态所需要的时间
	   all  代表所有属性变化都执行过渡
	   也可以单独的指某一个属性变化
	*/
	/*-webkit-transition: all .5s;*/
	-webkit-transition:all .5s;
	-webkit-transform: scale(1.5);
}

#nav-box ul.nav li.item div.nav-text>a:hover span:first-child
{
	/*
		控制俩个a 变颜色，谁移入 谁变色
		鼠标移入a的时候 2个span变色
	*/
	background-image: -webkit-linear-gradient(top,rgba(0,255,0,0.4),transparent 80%);
}
#nav-box ul.nav li.item div.nav-text>a:hover span:last-child
{
	color:green;
}

	 /*测试---------*/
.test1
{
	width: 500px;
	margin: 50px auto;
	text-align: center;
	font-size: 10px;
	font-weight:bold;
}
.test2
{
	-webkit-text-stroke: 2px blue;/*仅谷歌浏览器可见,文本描边2px 红色*/
	color: transparent;
	-webkit-text-fill-color: #1d1d1d;/*文本填充：蓝色*/
	background: -webkit-linear-gradient(top,red,blue);
	-webkit-background-clip:text;/* 背景裁切*/
	text-shadow:1px 1px 2px black;
}

