
/* 首页css文件 */

/*^^^^^^^^^^^^header区域开始^^^^^^^^^^^^*/
#header
{
    height:60px;
    background-color:transparent;
}
/* header 左区域 */
#header .logo
{
    margin: 15px 30px;
}
/* header 右区域 */
#header .search
{
    width: 300px;
    height: 60px;
}
#header .search .input
{
    width: 150px;
    height: 60px;
}
#header .search input:focus
{
    background-color: gold;
}
#header .search .search-icon
{
    margin-top: 14px;
    float: left;
    display: inline-block;
    height:60px;
    width:150px;
}
#header .search .search-icon img
{
    height:25px;
    width:25px;
}
#header .search input
{
    display:inline-block;
    margin:20px 0;
}
/*^^^^^^^^^^^^header区域结束^^^^^^^^^^^^*/

/*^^^^^^^^^^^^nav区域开始^^^^^^^^^^^^*/

#nav
{
    height: 50px;
    background-color:#2e2e2e;
    color: #fff;
    line-height: 50px;
    font-size: 12px;
    text-align: center;
}
#nav li
{
    float: left;
    width: 120px;
}
/*  鼠标悬停事件  */
#nav li:hover
{

    transition: all 900ms;
    -webkit-transform: translate(240px,-100px);
    -webkit-transform:scale(1.1);
    /*-webkit-transform: skew(720deg);*/
    background-color:orange;
}
#nav li a:hover
{
    color:#056846;
}
#nav li a
{
    display: block;
    border-right:1px dotted #bbb;
    color: white;
}
#nav li:last-child a
{
    border: none;
}
/* 导航的悬浮事件*/
#nav li.active a
{
    background-color: #00a56e;
    background-clip:padding-box;
}
/*^^^^^^^^^^^^nav区域结束^^^^^^^^^^^^*/

/*^^^^^^^^^^^^banner开始区域^^^^^^^^^^^^*/
#banner
{
    height: 440px;
    background-color: #0ed694;
    margin-top:10px;
    overflow:hidden;
    padding-bottom:38px;
    position:relative;
    margin-bottom:20px;
}
#banner ul
{
    width:300%;
}
#banner ul li
{
    width:960px;
    float:left;
}
#banner ul li a
{
/*    将a变为块元素,变为块的元素默认高度为父元素的高度     */
    display:block;
}
#banner ul li a img
{
    width:960px;
}
#banner .circle
{
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%,-50%);
}
#banner .circle a
{
    float:left;
    width:20px;
    height:20px;
    border-radius:10px;
    background-color:white;
    margin:0 5px;
}
#banner .circle a.active
{
    background-color:blue;
}
/*^^^^^^^^^^^^banner区域结束^^^^^^^^^^^^*/

/*^^^^^^^^^^^^content区域开始^^^^^^^^^^^^*/
#content
{
    height:600px;
    font-size: 12px;
    background-color:transparent;
}
#content h3
{
    background: #2e2e2e no-repeat
    url("../images/bj_07.png")
    left top;
    padding-top:4px;
    padding-left: 18px;
    height: 40px;
    color: #fff;
    line-height:36px;
}
#content h3 a
{
    color: #fff;
}
#content a
{
    color:#505050;
}

/* 左边大盒子 */
#content .left-con
{
    height:600px;
    width: 198px;
    margin-right:2px;
    background-color:#f0f0f0;
}

/* left-con下的top-con盒子（左上盒子）*/
#content .left-con .product-classification
{
   height: 305px;
}
#content .left-con .product-classification ul
{
    padding: 18px 0 35px 12px;
}
#content .left-con .product-classification ul li
{
    line-height:30px;
    font-size: 12px;
    height: 29px;
    border-bottom: 1px solid #e1e4eb;
    padding-left:52px;
    position: relative;
}
/*#content .left-con .product-classification ul li::before*/
/*{*/
/*    display: block;*/
/*    width: 5px;*/
/*    height: 5px;*/
/*    line-height: 0;*/
/*    border: 3px solid rgba(0,0,0,.3);*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top:50%;*/
/*    -webkit-transform: translateY(-50%);*/
/*    transform: translateY(-50%);*/
/*    left: 6px;*/
/*}*/
#content .left-con .product-classification ul li span
{
    width: 7px;
    height: 7px;
    display: block;
    border: 2px solid rgba(0,0,0,.3);
    border-radius: 50%;
    position: absolute;
    top:6px;
    left: 0;
    -webkit-transform:translateY(-50%);
    transform: translateY(-50%);
}
#content .left-con .product-classification ul li a:hover
{
    background-color:blue;

}
#content .left-con .product-classification ul li a
{
    display: block;
}
#content .left-con .product-classification ul li a::before
{
    content:'';

}
/* left-con下的under-con盒子（左下盒子）*/
#content .left-con .contact-our
{
    height:280px;
}
#content .left-con .contact-our ul
{
    margin-top:30px;
}
#content .left-con .contact-our ul li
{
    font-size: 12px;
    padding-bottom: 16px;
    padding-left: 18px;
}
/* 右边大盒子 */
#content .right-con
{
    width:760px;
    background-color: #fff;
}
/* 右盒子-上盒子 */
#content .right-con .top-con
{
    height:234px;
}
/* 右盒子-上盒子-->左盒子*/
#content .right-con .top-con .company-show
{
    width: 516px;
    height: 234px;
    margin-right:2px;
    float:left ;
}
#content .right-con .top-con .company-show h3:after,
#content .right-con .top-con .company-show h3 a
{
    content:'';
    font-size: 10px;
    display:block;
    float:right;
    margin-right: 20px;
    background-color:transparent;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);

}
#content .right-con .top-con .company-show ul .l4
{
    background-color:transparent;
    height: 70%;
}
#content .right-con .top-con .company-show ul .l4 p
{
    display: block;
    height: 136px;
    width: 468px;
    text-indent: 24px;
    padding:20px 16px;
    line-height:24px;

}
#content .right-con .top-con .company-show ul li
{
    background-color:#2e2e2e;
    height:40px;
}
#content .right-con .top-con .company-show ul li a
{
    line-height: 40px;
    color: #fff;

}
/* 右盒子-上盒子-->右盒子*/
#content .right-con .top-con .project-case
{
    width: 238px;
    height: 234px;
    float: left;
}
#content .right-con .top-con .project-case ul
{
    height:160px;
    margin-top:20px;
}
#content .right-con .top-con .project-case ul li
{
    list-style: square;
    margin-left: 16px;

}

#content .right-con .top-con .project-case ul li a
{
    line-height:25px;
    color:#505050;
}
#content .right-con .top-con .project-case h3:after,
#content .right-con .top-con .project-case h3 a
{
    content: none;
    font-size: 10px;
    display: block;
    float: right;
    margin-right: 20px;
    -webkit-transform:scale(0.5);
    transform: scale(0.5);
}
/* 右盒子-下盒子--上标盒*/
#content .right-con .under-con
{
    height:352px;
}
#content .right-con .under-con .shang
{
    height: 40px;
    margin-bottom: 30px;
}
#content .right-con .under-con .shang img
{
    width:100%;
    height:3px;
}
#content .right-con .under-con .shang ul
{
    height: 100%;
}
#content .right-con .under-con .shang li
{
    height: 40px;
    background-color: #2e2e2e;

}
#content .right-con .under-con .shang li a
{
    line-height: 40px;
    margin-left:16px;
    color:#fff;
}
/* 右盒子-下盒子-->下内盒*/
#content .right-con .xia
{
    height:290px;
}
#content .right-con .xia ul
{
    height:290px;
}
#content .right-con .xia ul li
{
    margin-left:20px;
    padding-bottom:24px;
    float: left;
}
#content .right-con .xia ul li div
{
    width:112px;
    height:120px;
    float: left;
}
#content .right-con .xia ul li div p
{
    line-height:16px;
}
#content .right-con .under-con .shang h3:after,
#content .right-con .under-con .shang h3 a
{
    font-size: 10px;
    display: block;
    float: right;
    margin-right: 20px;
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
}
/*^^^^^^^^^^^^content区域结束^^^^^^^^^^^^*/

/*^^^^^^^^^^^^footer区域开始^^^^^^^^^^^^*/
#footer
{
    height: 130px;
    background-color:transparent;
}
#footer ul
{
    background-color: #2e2e2e;
    height: 70px;
    margin-bottom: 10px;
}
#footer ul li
{
    float: left;
    margin: 15px 10px;
    height: 40px;
}
#footer ul li a
{
    color: #fff;
    line-height: 40px;
}
#footer span p
{
    display:block;
    text-align:center;
    padding-top: 5px;
    margin-left:16px;
}
/*^^^^^^^^^^^^footer区域结束^^^^^^^^^^^^*/
